<h2>Add To Your Worries</h2>

<form action="/worries" method="post">
  <label>Category:</label>
  <input type="text" name="category">
  <label>Worry:</label>
  <input type="text" name="worry">
  <input type="submit">
</form>
